# 빌드 결과물
dist/

# 의존성
node_modules/

# 빌드 결과물
/src/test/src/build
/src/test/build
*.log

# 배포용 임시 폴더
/dist
/public/build

# Netlify 등 자동 배포 플랫폼
.netlify/

# IDE 설정
.vscode/

# OS 관련
.DS_Store
Thumbs.db